:root {
    --main-bg-color: #F7F7F7;
    --main-color: #293E40;
    --secondary-color: #000000;
    --muted-color:#81B5A1;
    --alt-bg-color: #e7e7e7;
    --disabled-color: #cecece;
    --btn-color: var(--main-color);
    --btn-hover-color:#81B5A1;
}
@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
html {
    height: 100%;
}
body {
    font-family: 'Helvetica', sans-serif;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 10pt;
    min-height: 400px;
}
body.options-body {
    min-height: 100%;
    max-width: 1000px;
    margin:auto;
}
form.options-form {
    margin: auto;
    margin-top: 3px;
    width: 98%;
    min-width: 550px;
    max-height: 800px;
}
div#knownInstances {
    padding: 0 3px 3px 3px;
    border: 2px solid var(--disabled-color);
    height: 600px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
div#instanceFilterContainer {
    position: sticky;
    width: 100%;
    background-color: var(--main-color);
    height: 38px;
    z-index: 30;
    top: 0;
}
div#instanceFilterContainer input {
    width: 50%;
    float: right;
    margin-right: 3%;
}
a[href] {
    color: var(--main-color);
    text-decoration: underline;
}
a[href]:hover {
    text-decoration: underline;
}
.no_underline, .no_underline:hover {
    text-decoration: none;
}
span.pull-right {
    float:right;
}
img.top-commands {
    position: absolute;
    width: 25px;
    cursor: pointer;
    top: 15px; 
}
div.whatsnew {
    width: 100%;
    line-height: 1.4em;
    text-align: initial;
    max-height: 200px;
    overflow-y: auto;
    
}
img.whatsnew {
    display: block;
    position: absolute;
    top: 5px;
    left: 48%;
    width: 25px;
}
button#whatsnewRemember {
    margin-top: 10px;
}
img#config {
    right: 30px;
}
img#help {
    right: 70px;
}
img#open_in_panel {
    right: 110px;
}
p#tip {
    opacity: 1;
    transition: opacity 0.3s; 
    text-align:center;
    height: 150px;
}
div.tips {
    opacity: 1;
}
div#tipsContainer {
    width: 95%;
    max-width: 450px;
    margin: auto;
    text-align:center;
    line-height: 1.4em;
    display: block;
}
div.tips ul {
    text-align:left;
}
div.tips img {
    display: inline-block;
    width: 30px;
    margin: auto;
}
div.tips #nextTip {
    display: block;
    position: absolute;
    right: 60px;
    top: 210px;
    width: 25px;
    cursor: pointer;
}
#messages {
    text-align: center;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.4s; 
}
#messages_container {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
#messages_details {
    text-align: left;
    font-size: smaller;
    visibility: hidden;
    resize: none;
}
.fade {
    opacity: 0 !important;
}
.fade {
    opacity: 0 !important;
}
div#search {
    font-size: smaller;
    height: 35px;
    width: 420px;
}
div#search input[type=text] {
    width: 50%;
}
div#search button {
    display: inline-block;
    width: 50px;
    margin: 3px 3px;
    padding: 3px 3px;
    border-radius: 2px;
    font-size: normal;
    font-weight: normal;
}
.updateset {
    display: none;
    color: var(--muted-color);
    margin-left: 21px;
    max-width: 560px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
span.incognito {
    display:none;
}
div#container {
    min-width: 650px;
    margin: 5px;
    padding: 5px;
}
div.basicContext {
    border: 1px var(--main-color) solid;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}
tr.basicContext__item {
    background-color: var(--main-bg-color);
    color: var(--main-color)
}
tr.basicContext__item:hover {
    background-color: var(--main-color);
    color: var(--main-bg-color)
}
h1 {
    color: var(--secondary-color);
    font-size: 1.5em;
}
ul.firstLvlUL {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-left: 10px;
    list-style-type: none;
}
ul#nodeList {
    font-size: larger;
}
div.instance-label {
    margin-left: 5px;
    display: inline-block;
}
.instance-label {
    line-height: 30px;
    font-size: large;
    color: var(--main-color);
    cursor: pointer;
}

.small-instance-label.enhanced:before {
    font-size: larger;
    content: "‣ \0020";
}
.small-instance-label.enhanced {
    font-weight: bold;
}
input.instance-checkbox[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
input.instance-checkbox[type="checkbox"] ~ ul {
    height: 0;
    transform: scaleY(0);
    transition: transform .1s ease-out;
    transform-origin: bottom;
}
input.instance-checkbox[type="checkbox"]:checked ~ ul {
    height: 100%;
    transform-origin: top;
    transition: transform .1s ease-out;
    transform: scaleY(1); 
}
input.instance-checkbox[type="checkbox"] ~ label:before {
    font-size: larger;
    content: "\2295";
}
input.instance-checkbox[type="checkbox"]:checked ~ label:before {
    font-size: larger;
    content: "\2296";
}
ul.links-to-tabs {
    list-style-type: none;
    margin: 0 5px;
}
ul.links-to-tabs li:before {
    content: "‣ \0020";
}
ul.links-to-tabs > li {
    margin-left:-30px;
    line-height: 25px;
    padding: 0 5px 0 5px;
    cursor: pointer;
    border: 1px var(--main-bg-color) solid ;
    border-radius: 4px;
}
ul.links-to-tabs > li:hover {
    border-color: var(--main-color);
}
.load-indicator {
    display: inline-block;
    width: 20px;
}
.loading {
    animation: rotation 3s infinite linear;
}
li.selectedTab {
    color: var(--main-bg-color);
    background-color: var(--main-color);
}
input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
    color: var(--main-color);
}
select.select-instance {
    margin-bottom: 15px;
}
label {
    color: var(--secondary-color);
}
button {
    width: 100%;
    margin: auto;
    height: 29px;
    background-color: var(--btn-color);
    color: var(--main-bg-color);
    margin-bottom: 6px;
    border: 1px var(--main-color) solid;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}
button.btn-secondary {
    background-color: var(--main-bg-color);
    color: var(--main-color);
}
button:hover {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
}
button.btn-secondary:hover {
    color: var(--main-bg-color);
}
.instance-commands {
    cursor: pointer;
    text-align: right;
    float: right;
    margin-right: 15px;
    font-size: large;
}
.color-indicator {
    display: inline-block;
    font-size: x-large;
    cursor: pointer;
}
.tab-commands {
    font-size: larger;
}
.button-muted {
    margin-left: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--disabled-color);
    text-decoration: none;   
    font-weight: bold;
    cursor: pointer;
}
.button-muted:hover {
    color: var(--main-color);
}
.button {
    margin-left: 3px;
    padding: 5px;
    color: var(--main-color);
    text-decoration: none;   
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;    
}
li.selectedTab > .button-muted:hover {
    color: var(--main-bg-color);
}

p.text-muted {
    font-size: small;
    font-weight: normal;
    color: var(--disabled-color);
}
input#colorPickerColor {
    margin: .4rem;
    margin-bottom: 15px;
}
/* Sliders */
.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 17px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: var(--main-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

/* smart popin
 * credits: https://codepen.io/alexandredees/pen/NNvmZp
 */
.smart-popin {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    overflow: auto; /* scrollbar will appear if the viewport is too tight to display all the popin content */
    opacity: 0;
    z-index: 35;
    visibility: hidden;
  
    /* design */
  
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.smart-popin:target {
    opacity: 1;
    visibility: visible;
}
.smart-popin .sp-table {
    display: table;
    height: 100%;
    width: 100%;
}
.smart-popin .sp-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 10px; /* this space is important to let the box-shadow exceed around the popin - so it has to be at least equal to the shadow radius */
}
.smart-popin .sp-body {
    position: relative; /* to allow absolute positionning inside */
    z-index: 50; /* to ensure the popin body will be over the .sp-back layer */
    width: auto; /* by default the width of the wider element inside */
    min-width: 300px;  /* standard width for xs smartphones (320px) minus 2*10px (.sp-cell margins) */
    max-width: 500px;
    margin: 0 auto;
  
    /* design */
    text-align: center;
    border: 1px var(--main-color) solid;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    padding: 2em;
    -webkit-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    width: 66.66%; /* 66.66 looks good :-) */;
}
.smart-popin .sp-body * {
    max-width: 100%; /* this is a security to prevents wide elements such as img to stretch the popin beyond the viewport width */
}
.smart-popin .sp-back { /* only used to get clicks out of the popin body */
    position: fixed;
    z-index: 40;
    left: 0; right: 0;
    top: 0; bottom: 0;
    display: block;
}
.smart-popin .sp-close {
    position: absolute;
    top: 0;
    right: 0;

    width: 45px;
    height: 45px;

    text-align: center;
    line-height: 45px;
    font-size: 1.6em;
    color: #000000;
    font-weight: 900;
    text-decoration: none;
}
.history {
    padding: 0 10px;
    margin-bottom: 10px;
    max-height: 130px;
    overflow-y: auto;
}
.history_table {
    width: 100%;
    background-color: var(--bg-color);
    table-layout: fixed;
    border-collapse: collapse;
}
.history_table th {
    position: sticky;
    top: 0;
    background-color: var(--btn-color);
    color: var(--main-bg-color);
}
.history_table tr {
    text-align: left;
}
.history_table tr {
    cursor: pointer;
}
.history_table tr:hover {
    background-color: var(--alt-bg-color);
}
.history_table td {
    padding: 5px;
    font-size:small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#newFilter {
    max-width: 25em;
    margin-left: 20px;
}