#packaged extension
dist/*.zip

# Directory for VSCode
.vscode

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env